.btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.3em 0.6em;
    border-radius: 0.3rem;
    font-size: inherit;
    font-family: inherit;
}

/* Variants */
.btn-outline {
    color: var(--color);
    background-color: transparent;
    border: 1px solid var(--color);
}

.btn-text {
    background-color: transparent;
    color: var(--color);
    padding: 0;
}
/* Colors */

.btn-navy {
    --color: navy;
}

.btn-black {
    --color: #000;
}

