
.tabs>* {
    width: 100%;
    margin: 1em 0;
    padding: 1em 0;
}

.tabs .tab {
    font-size: inherit;
    border-bottom: 3px solid grey;
}

.tabs .tab:hover {
    background: #efefef;
    border-radius: 0.6em;
}

.tab.tab--active {
    border-bottom: 3px solid #f9a7a7;
}