#root {
  text-align: center;
}

 .app .bg-white {
  background-color: white;
}

.app .rounded-l-none {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.app .rounded-r-none	 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

